# Data Analysis
### Samuel Mendez

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# import clean data
data = pd.read_csv('clean_data.csv')

In [3]:
data

,user_id,subscription_type,user_journey
0,1516,Annual,Homepage-Other-Sign up-Homepage-Checkout-Coupo...
1,3395,Annual,Other-Pricing-Sign up-Homepage-Pricing-Checkout
2,10107,Annual,Homepage-Career tracks-Homepage-Career tracks-...
3,11145,Monthly,Homepage-Homepage-Homepage-Homepage-Homepage-H...
4,12400,Monthly,Homepage-Career tracks-Sign up-Other-Career tr...
...,...,...,...
1345,509060,Annual,Other
1346,509061,Annual,Coupon
1347,509085,Annual,Coupon
1348,509095,Annual,Other
1349,509096,Annual,Other-Coupon

In [26]:
# define a functuction that counts how times a page can be found in all user journeys

def page_count(df, target_column = 'user_journey'):
    df_copy = df.copy()
    # drop missing values 
    df_copy = df_copy.dropna()
    # split the pages at the hyphen
    pages_list = df_copy[target_column].str.split('-')
    
    # flatten the rows of list
    pages = [page for sublist in pages_list for page in sublist]
        
    # create a series to count the values  
    pages_count = pd.Series(pages).value_counts()

    
    return pages_count

In [25]:
page_count(data)

Homepage                    2679
Checkout                    1351
Sign up                     1247
Other                       1189
Courses                     1087
Career tracks               1070
Pricing                     1053
Coupon                       720
Resources center             546
Career track certificate     468
Course certificate           212
Upcoming courses             110
Success stories               49
Instructors                   43
About us                      20
Blog                          20
Name: count, dtype: int64